@import '../../styles.scss';

header {
  padding: 16px;
  background-color: $secondary;

  .logo {
    margin: 0 10px 0 0;
    height: 52px;
  }

  .toolbar {
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;

    &-block {
      @include flexCenter;

      &.logo-block {
        width: calc(100% - 200px);
        min-width: 240px;
        max-width: 400px;
      }

      &.userinfo-block {
        padding: $md $md2;

        > span {
          margin-right: $md;
        }
      }
    }

    .button {
      margin-left: $md;
    }
  }

  .search-input {
    width: calc(100% - 70px);
    height: 24px;
  }

  .square {
    width: 36px;
    height: 36px;
    min-width: 36px;
    padding: 0;
  }

  .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: $md;
    font-size: $md2;

    > span  {
      margin-left: $md1;
      color: $neutralcolor;
    }

    &-options {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0;
      user-select: none;

      &.desc li.selected::after {
        transform: rotate(180deg);
      }

      li {
        margin-left: 12px;
        color: $primary;
        cursor: pointer;

        &.selected {
          text-decoration: underline;

          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 10px solid $primary;
          }
        }
      }
    }

    .filter-input {
      height: $md2;
      margin-left: $md;
    }
  }
}
