header {

  .logo {
    margin-right: 10px;
    height: 52px;
  }

  .toolbar {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .searchbar {
    width: 600px;
  }

  .search-input {
    width: 70%;
    height: 24px;
  }

  .button {
    margin-left: 10px;
  }

  .square {
    width: 36px;
    height: 36px;
    min-width: 36px;
    padding: 0;
  }

  .sort {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;

    > span  {
      margin-left: 12px;
      color: #929292;
    }

    &-options {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      padding: 0;
      user-select: none;

      &.desc li.selected::after {
        transform: rotate(180deg);
      }

      li {
        margin-left: 12px;
        color: #2F80ED;
        cursor: pointer;

        &.selected {
          text-decoration: underline;

          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            margin: 0 auto;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 10px solid #2F80ED;
          }
        }
      }
    }

    .filter-input {
      height: 14px;
      margin-left: 8px;
    }
  }
}
