<header>
  <mat-toolbar class="toolbar">
      <h1 class="logo"><img src="../../assets/logo.svg" alt="logo" /></h1>
      <div class="searchbar">
        <input class="search-input" matInput type="text" (input)="searchValueChange($event)">
        <button class="button" mat-raised-button color="primary">Submit</button>
        <button (click)="toggleFilter()" class="button filter-button square" mat-raised-button color="primary">
          <img src="../../assets/settings.svg" />
        </button>
      </div>
      <div class="userinfo">
        Name
      </div>

      <div *ngIf="showSort" class="sort">
        <span>Sort by: </span>
        <ul class="sort-options" [ngClass]="sortOrder === 'asc' ? 'asc' : 'desc'">
          <li
            *ngFor="let option of options"
            (click)="changeOption(option.value)"
            [ngClass]="{ selected: option.value === selectedOption}">
              {{option.label}}
          </li>
        </ul>
        <span>Filter by word sentence: </span>
        <input class="filter-input" matInput type="text" (input)="filterValueChange($event)">
      </div>
  </mat-toolbar>
</header>
