<header>
  <div class="toolbar container">
    <div class="toolbar-block logo-block">
      <h1 class="logo"><img src="/assets/logo.svg" alt="logo" /></h1>
      <h2 *ngIf="!userName" style="margin: 0">YouTube App</h2>
      <input *ngIf="userName" class="search-input" matInput type="text" [formControl]="searchValue">
    </div>
    <div class="toolbar-block button-block">
      <button *ngIf="userName" type="button" (click)="toggleFilter()" class="button filter-button square" mat-raised-button color="primary">
        <img src="/assets/settings.svg" />
      </button>
    </div>
    <div class="toolbar-block userinfo-block">
        <span>{{userName}}</span>
        <img *ngIf="userName" src="/assets/login.svg" />
      <button *ngIf="userName" class="button" (click)="logOut()" mat-raised-button color="secondary">Log out</button>
    </div>
  </div>
  <div *ngIf="showSort" class="sort toolbar container">
    <span>Sort by: </span>
    <ul class="sort-options" [ngClass]="queryValue.sortOrder === 'asc' ? 'asc' : 'desc'">
      <li
        tabindex="0"
        role="button"
        *ngFor="let option of options"
        (click)="sortChange(option.value)"
        (keypress)="$event.key === 'Enter' && sortChange(option.value)"
        [ngClass]="{ selected: option.value === queryValue.selectedOption}">
          {{option.label}}
      </li>
    </ul>
    <span>Filter by word sentence: </span>
    <input class="filter-input" matInput type="text" [value]="queryValue.filterValue" (input)="filterValueChange($event)">
  </div>
</header>
