@import 'src/styles.scss';

.detail-info {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  margin: 16px auto;
  padding: 0;

  &-description {
    background-color: $secondary;
    padding: $md;

    &-content {
      white-space: pre;
      max-width: 320px;
      max-height: 300px;
      overflow: auto;
      white-space: pre-line;
    }

    &-header {
      display: flex;

      h2 {
        max-width: 300px;
      }

      span {
        color: rgb(173, 170, 170);
      }
    }
  }
}
