<mat-card class="card" [appColorBorder]="card?.snippet?.publishedAt">
  <mat-card-header class="card-title">
    <mat-card-title>{{card?.snippet?.title}}</mat-card-title>
  </mat-card-header>
  <div class="card-image">
    <img src="{{card?.snippet?.thumbnails?.medium?.url}}" alt="card-img">
  </div>
  <app-statblock [stats]="card?.statistics"></app-statblock>
  <mat-card-content class="card-description">
    <p>
      {{card?.snippet?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="{{card.id.videoId}}" (click)="go()" mat-raised-button color="primary">More...</button>
  </mat-card-actions>
</mat-card>
