@import 'src/styles.scss';

.card {
  width: 280px;
  height: 440px;
  margin: $md;
  box-sizing: border-box;
  border-bottom: $md1 solid transparent;
  background-color: $secondary;

  &-title {
    height: 92px;
  }

  &-description > p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-image {
    margin-bottom: $md1;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  .mat-card-actions {
    & > button {
      display: block;
      margin: 0 auto;
    }
  }
}
